.m-comment-input{
	margin:auto;
	padding:20px;
	width:600px;
	text-align: left;
	background-color: #ffffff;
	h3{
		font-size: 16px;
		font-weight: bold;
		height:30px;
		line-height: 30px;
		border-bottom: 1px solid #e5e5e5;
	}
	.comment-input{
		margin-top: 20px;
		textarea{
			padding:20px;
			width: 560px;
    		height: 110px;
		}
	}
	.del-block{
		margin-top: 20px;
		text-align: right;
		button{
			height: 28px;
		    width: 80px;
		    border: none;
		    color: #fff;
		    background-color: #000;
		}
	}
}