<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	404
<script type="text/javascript" src="/static/js/common.js"></script><script type="text/javascript" src="/static/js/error.js"></script></body>
</html>