<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
	<div class="g-content">
		<div class="g-body" id="app">
			
		</div>
	</div>
	<script type="text/javascript">
		window.xx.userMessage={
			id:"12324",
			name:"我是用户1"
		}
	</script>
	<script type="text/javascript" src="/static/js/build/common.js"></script>
	<script type="text/javascript" src="/static/js/build/index.js"></script>
</body>
</html>