<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="g-content">
		<div class="g-body" id="app">
			
		</div>
	</div>
	<script>
		
	</script>
	<script>
		window.xx={
			userMessage:{
				id:"12324",
				name:"我是用户1"
			}
		}
	</script>
</body>
</html>